<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>

  <packageSourceCredentials>
    <RTMath.NET>
      <add key="Username" value="%DELTIX_PROGET_USER%" />
      <add key="ClearTextPassword" value="%DELTIX_PROGET_PASS%" />
    </RTMath.NET>
    <Deltix.NET>
      <add key="Username" value="%DELTIX_PROGET_USER%" />
      <add key="ClearTextPassword" value="%DELTIX_PROGET_PASS%" />
    </Deltix.NET>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="RTMath.NET" value="https://packages.deltixhub.com/nuget/RTMath.NET" />
    <add key="Deltix.NET" value="https://packages.deltixhub.com/nuget/Deltix.NET" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
